* text=auto eol=lf
*.go linguist-detectable linguist-language=GO
*.json linguist-detectable linguist-language=JSON
*.json5 linguist-detectable linguist-language=JSON5
*.md linguist-detectable linguist-language=MARKDOWN
*.sh linguist-detectable linguist-language=SHELL
*.yml linguist-detectable linguist-language=YAML
*.yaml linguist-detectable linguist-language=YAML
